In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
files = os.listdir(".")

In [3]:
files

['10_24_29.ulg',
 '10_04_53.ulg',
 '09_49_18.ulg',
 '10_26_35.ulg',
 '10_01_44.ulg',
 '10_33_50.ulg',
 '09_44_11.ulg',
 '10_57_44.ulg',
 '09_48_17.ulg',
 '10_19_22.ulg',
 '10_35_56.ulg',
 '09_56_32.ulg',
 '09_51_24.ulg',
 '09_34_57.ulg',
 '10_45_17.ulg',
 '09_46_14.ulg',
 '10_06_56.ulg',
 '10_10_01.ulg',
 '10_29_42.ulg',
 '09_28_38.ulg',
 '11_04_57.ulg',
 '11_10_12.ulg',
 '09_52_25.ulg',
 '09_30_44.ulg',
 '09_39_03.ulg',
 '10_11_05.ulg',
 '09_55_30.ulg',
 '09_33_53.ulg',
 '11_00_51.ulg',
 '10_13_08.ulg',
 '09_35_58.ulg',
 '11_08_04.ulg',
 '10_12_06.ulg',
 '09_32_52.ulg',
 '10_58_46.ulg',
 '10_36_57.ulg',
 '09_50_22.ulg',
 'df_maker.ipynb',
 '10_51_28.ulg',
 '10_55_37.ulg',
 '10_17_19.ulg',
 '10_47_20.ulg',
 '11_09_08.ulg',
 '09_37_00.ulg',
 '10_50_27.ulg',
 '10_22_26.ulg',
 '10_07_57.ulg',
 '10_31_44.ulg',
 '09_29_42.ulg',
 '09_57_35.ulg',
 '10_49_23.ulg',
 '09_53_27.ulg',
 '10_48_21.ulg',
 '10_56_40.ulg',
 '10_25_33.ulg',
 '11_03_56.ulg',
 '10_34_52.ulg',
 '09_45_12.ulg',
 '10_52_32.ulg',
 '09_27_37.ulg',
 '11_07_03.ulg',
 '10_20_23.ulg',
 '09_47_15.ulg',
 '10_46_18.ulg',
 '10_32_46.ulg',
 '09_41_06.ulg',
 '09_31_48.ulg',
 '10_21_25.ulg',
 '11_05_59.ulg',
 '10_02_45.ulg',
 '10_23_28.ulg',
 '10_28_40.ulg',
 '10_08_59.ulg',
 '09_54_29.ulg',
 '11_02_54.ulg',
 '09_40_05.ulg',
 '09_43_09.ulg',
 '10_05_54.ulg',
 '10_18_20.ulg',
 '10_00_39.ulg',
 '10_16_17.ulg',
 '10_38_01.ulg',
 '09_59_38.ulg',
 '10_41_06.ulg',
 '10_39_03.ulg',
 '10_44_13.ulg',
 '11_01_53.ulg',
 '10_15_13.ulg',
 '09_38_02.ulg',
 '10_27_39.ulg',
 '10_59_50.ulg',
 '09_58_37.ulg',
 '10_40_04.ulg',
 '10_54_35.ulg',
 '10_03_49.ulg',
 '10_53_34.ulg',
 '10_43_11.ulg',
 '10_42_10.ulg',
 '10_30_43.ulg',
 '10_14_11.ulg',
 '09_42_08.ulg']

In [4]:
HOME_DIR = "/home/lunet/ttcc4"
def load_df_from_episode(run, time_s):

    # print("-Loading csvs into pandas dataframes")
    #load csv
    files_required = [
        "vehicle_local_position_0.csv",
        "vehicle_control_mode_0.csv"
    ]

    columns = ["timestamp", "x", "y", "flag_control_ai_enabled", "z"]
    prefix = "./"+time_s+"_"
    csvs = []
    for filename in files_required:
        csvs.append(pd.read_csv(prefix+filename))
    
    df = pd.concat(csvs)[columns]
    min_ai_enabled = df[df["flag_control_ai_enabled"] == 1].timestamp.min()

    df = df[df.timestamp >= min_ai_enabled]
    df["run"] = run
    df = df[df.x.notna()]
    df.sort_values(by="timestamp", inplace=True)
    df.reset_index(inplace=True)
    return df

In [5]:
df = pd.DataFrame()
count = 0
for i in range(len(files)):
    file = files[i]
    if ".ulg" not in file:
        continue
    count+=1
    time = file.split(".")[0]
    # stream = os.popen('ulog2csv '+ file)
    # output = stream.read()
    df2 = load_df_from_episode(count, time)
    df = pd.concat([df, df2], ignore_index=True)
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [6]:
df.head()

,index,timestamp,x,y,flag_control_ai_enabled,z,run
0,6412,52020000,0.016725,-0.030939,NaN,-2.538246,1
1,6413,52028000,0.016810,-0.031010,NaN,-2.538186,1
2,6414,52036000,0.016890,-0.031075,NaN,-2.538102,1
3,6415,52044000,0.016965,-0.031132,NaN,-2.537994,1
4,6416,52052000,0.017036,-0.031182,NaN,-2.537845,1

In [7]:
df.run.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [8]:
df.z = df.z.abs()

In [9]:
df["Timestep"] = df.index
df.reset_index(inplace=True)

In [10]:
df["Distance from Objective (m)"] = 99999

df["Distance from Objective (m)"] = (df.x -  1.0).pow(2) + (df.y - 1.0).pow(2) + (df.z - 2.0).pow(2)

In [11]:
df.head()

,level_0,index,timestamp,x,y,flag_control_ai_enabled,z,run,Timestep,Distance from Objective (m)
0,0,6412,52020000,0.016725,-0.030939,NaN,2.538246,1,0,2.319374
1,1,6413,52028000,0.016810,-0.031010,NaN,2.538186,1,1,2.319288
2,2,6414,52036000,0.016890,-0.031075,NaN,2.538102,1,2,2.319174
3,3,6415,52044000,0.016965,-0.031132,NaN,2.537994,1,3,2.319028
4,4,6416,52052000,0.017036,-0.031182,NaN,2.537845,1,4,2.318833

In [12]:
distance_df = df.loc[:, ["Timestep", "Distance from Objective (m)", "run"]]

In [13]:
distance_df["Distance from Objective (m)"].min()

0.03918163677537649

In [14]:
for i in distance_df.run.unique():
    distance_df.loc[distance_df.run == i, "Timestep"] -= distance_df.loc[distance_df.run == i, "Timestep"].min()

In [15]:
distance_df.Timestep += 1

In [16]:
distance_df[distance_df["run"] == 1]

      Timestep  Distance from Objective (m)  run
0            1                     2.319374    1
1            2                     2.319288    1
2            3                     2.319174    1
3            4                     2.319028    1
4            5                     2.318833    1
...        ...                          ...  ...
6486      6487                     0.482642    1
6487      6488                     0.482732    1
6488      6489                     0.482822    1
6489      6490                     0.482911    1
6490      6491                     0.482997    1

[6491 rows x 3 columns]

In [17]:
distance_df = distance_df[(distance_df.Timestep < 1000)]

In [18]:
distance_df["Type"] = "SD"

In [19]:
distance_df["Reward"] = distance_df["Distance from Objective (m)"] * -0.002

In [20]:
distance_df.to_csv("distance_gazebo.csv", index=False)

In [21]:
import seaborn as sns

In [22]:
# distance_df = distance_df.groupby(by="Timestep").mean().drop(columns="run")

In [23]:
# sns.lineplot(data=distance_df, x="Timestep", y="Reward")

In [24]:
HOME_DIR = "/home/lunet/ttcc4"
def load_df_from_episode(run, time_s):

    # print("-Loading csvs into pandas dataframes")
    #load csv
    files_required = [
        "vehicle_attitude_0.csv",
        "vehicle_control_mode_0.csv"
    ]

    columns = ["timestamp", "q[0]", "q[1]", "flag_control_ai_enabled", "q[2]", "q[3]"]
    prefix = "./"+time_s+"_"
    csvs = []
    for filename in files_required:
        csvs.append(pd.read_csv(prefix+filename))
    
    df = pd.concat(csvs)[columns]
    min_ai_enabled = df[df["flag_control_ai_enabled"] == 1].timestamp.min()
    df = df[df.timestamp >= min_ai_enabled]
    df["run"] = run
    df = df[df["q[0]"].notna()]

    q0 = df["q[0]"]
    q1 = df["q[1]"]
    q2 = df["q[2]"]
    q3 = df["q[3]"]

    df["roll"] = np.arctan2(2.0 * (q0 * q1 + q2 * q3),
                        1.0 - 2.0 * (q1 * q1 + q2 * q2))
    df["pitch"] = np.arcsin(2.0 * (q0 * q2 - q3 * q1))

    df["yaw"] = np.arctan2(2.0 * (q0 * q3 + q1 * q2),
                        1.0 - 2.0 * (q2 * q2 + q3 * q3))
    df["yaw"] -= 1.57


    df.drop(columns=["q[0]", "q[1]", "q[2]", "q[3]"], inplace=True)
    df.sort_values(by="timestamp", inplace=True)
    df.reset_index(inplace=True)
    return df

In [25]:
df = pd.DataFrame()
count = 0
for i in range(len(files)):
    file = files[i]
    if ".ulg" not in file:
        continue
    count+=1
    time = file.split(".")[0]
    # stream = os.popen('ulog2csv '+ file)
    # output = stream.read()
    df2 = load_df_from_episode(count, time)
    df = pd.concat([df, df2], ignore_index=True)
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [26]:
df["Timestep"] = df.index
df.reset_index(inplace=True)

df["RPY"] = df.roll ** 2 + df.pitch ** 2 + df.yaw ** 2

In [27]:
rpy_df = df.loc[:, ["Timestep", "RPY", "run"]]

In [28]:
for i in rpy_df.run.unique():
    rpy_df.loc[rpy_df.run == i, "Timestep"] -= rpy_df.loc[rpy_df.run == i, "Timestep"].min()

In [29]:
rpy_df.Timestep += 1

In [30]:
rpy_df[rpy_df["run"] == 1]

      Timestep       RPY  run
0            1  2.555409    1
1            2  2.555367    1
2            3  2.555374    1
3            4  2.555387    1
4            5  2.555347    1
...        ...       ...  ...
6486      6487  0.013626    1
6487      6488  0.013625    1
6488      6489  0.013620    1
6489      6490  0.013622    1
6490      6491  0.013623    1

[6491 rows x 3 columns]

In [31]:
rpy_df[rpy_df["run"] == 2]

       Timestep       RPY  run
6491          1  2.563539    2
6492          2  2.563526    2
6493          3  2.563545    2
6494          4  2.563571    2
6495          5  2.563516    2
...         ...       ...  ...
12978      6488  0.014637    2
12979      6489  0.014637    2
12980      6490  0.014640    2
12981      6491  0.014633    2
12982      6492  0.014636    2

[6492 rows x 3 columns]

In [32]:
rpy_df = rpy_df[(rpy_df.Timestep < 1000)]

In [33]:
rpy_df["Reward"] = rpy_df["RPY"] * -0.002
# rpy_df = rpy_df.groupby(by="Timestep").mean().drop(columns="run")
# sns.lineplot(data=rpy_df, y="Reward", x="Timestep")

In [34]:
rpy_df["Type"] = "SD"
rpy_df.to_csv("rpy_df_gazebo.csv", index=False)

In [35]:
HOME_DIR = "/home/lunet/ttcc4"
def load_df_from_episode(run, time_s):
    #load csv
    files_required = [
        "vehicle_local_position_0.csv",
        "vehicle_control_mode_0.csv"
    ]

    columns = ["timestamp", "vx", "vy", "flag_control_ai_enabled", "vz"]
    prefix = "./"+time_s+"_"
    csvs = []
    for filename in files_required:
        csvs.append(pd.read_csv(prefix+filename))
    
    df = pd.concat(csvs)[columns]
    min_ai_enabled = df[df["flag_control_ai_enabled"] == 1].timestamp.min()
    df = df[df.timestamp >= min_ai_enabled]
    df["run"] = run
    df = df[df["vx"].notna()]

    df.vz = -df.vz
    df["LVErr"] = df.vx ** 2 + df.vy ** 2 ** 2  + df.vz ** 2
    df.sort_values(by="timestamp", inplace=True)# rewards = pd.DataFrame({"Timestep":rewards.index,"Reward":rewards})
    df.reset_index(inplace=True)
    return df

In [36]:
df = pd.DataFrame()
count = 0
for i in range(len(files)):
    file = files[i]
    if ".ulg" not in file:
        continue
    count+=1
    time = file.split(".")[0]
    # stream = os.popen('ulog2csv '+ file)
    # output = stream.read()
    df2 = load_df_from_episode(count, time)
    df = pd.concat([df, df2], ignore_index=True)
    print(count)

df["Timestep"] = df.index
df.reset_index(inplace=True)

velocity_df = df.loc[:, ["Timestep", "LVErr", "run"]]


for i in velocity_df.run.unique():
    velocity_df.loc[velocity_df.run == i, "Timestep"] -= velocity_df.loc[velocity_df.run == i, "Timestep"].min()

velocity_df.Timestep += 1


velocity_df = velocity_df[(velocity_df.Timestep < 1000)]

velocity_df["Reward"] = velocity_df["LVErr"] * -0.0002
# velocity_df = velocity_df.groupby(by="Timestep").mean().drop(columns="run")
# sns.lineplot(data=velocity_df, y="Reward", x="Timestep")


velocity_df["Type"] = "SD"
velocity_df.to_csv("velocity_df_gazebo.csv", index=False)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [37]:
HOME_DIR = "/home/lunet/ttcc4"
def load_df_from_episode(run, time_s):
    #load csv
    files_required = [
        "vehicle_angular_velocity_0.csv",
        "vehicle_control_mode_0.csv"
    ]

    columns = ["timestamp", "xyz[0]", "xyz[1]", "flag_control_ai_enabled", "xyz[2]"]
    prefix = "./"+time_s+"_"
    csvs = []
    for filename in files_required:
        csvs.append(pd.read_csv(prefix+filename))
    
    df = pd.concat(csvs)[columns]
    min_ai_enabled = df[df["flag_control_ai_enabled"] == 1].timestamp.min()
    df = df[df.timestamp >= min_ai_enabled]
    df["run"] = run
    df = df[df["xyz[0]"].notna()]

    df["AVErr"] = df["xyz[0]"] ** 2 +  df["xyz[1]"] ** 2  +  df["xyz[2]"] ** 2
    df.sort_values(by="timestamp", inplace=True)
    df.reset_index(inplace=True)
    return df

In [38]:
df = pd.DataFrame()
count = 0
for i in range(len(files)):
    file = files[i]
    if ".ulg" not in file:
        continue
    count+=1
    time = file.split(".")[0]
    # stream = os.popen('ulog2csv '+ file)
    # output = stream.read()
    df2 = load_df_from_episode(count, time)
    df = pd.concat([df, df2], ignore_index=True)
    print(count)

df["Timestep"] = df.index
df.reset_index(inplace=True)

angular_df = df.loc[:, ["Timestep", "AVErr", "run"]]


for i in angular_df.run.unique():
    angular_df.loc[angular_df.run == i, "Timestep"] -= angular_df.loc[angular_df.run == i, "Timestep"].min()

angular_df.Timestep += 1


angular_df = angular_df[(angular_df.Timestep < 1000)]

angular_df["Reward"] = angular_df["AVErr"] * -0.0002
# angular_df = angular_df.groupby(by="Timestep").mean().drop(columns="run")
# sns.lineplot(data=angular_df, y="Reward", x="Timestep")


angular_df["Type"] = "SD"
angular_df.to_csv("angular_df_gazebo.csv", index=False)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [39]:
HOME_DIR = "/home/lunet/ttcc4"
def load_df_from_episode(run, time_s):
    #load csv
    files_required = [
        "actuator_motors_0.csv",
        "vehicle_control_mode_0.csv"
    ]

    columns = ["timestamp", "control[0]", "control[1]", "flag_control_ai_enabled", "control[2]",  "control[3]"]
    prefix = "./"+time_s+"_"
    csvs = []
    for filename in files_required:
        csvs.append(pd.read_csv(prefix+filename))
    
    df = pd.concat(csvs)[columns]
    min_ai_enabled = df[df["flag_control_ai_enabled"] == 1].timestamp.min()
    df = df[df.timestamp >= min_ai_enabled]
    df["run"] = run
    df = df[df["control[0]"].notna()]

    df["ControlErr"] = (df["control[0]"] - 0.63) ** 2 +  (df["control[1]"] - 0.63) ** 2  +  (df["control[2]"] -0.63) ** 2 +  (df["control[3]"] - 0.63)  ** 2
    df.sort_values(by="timestamp", inplace=True)
    df.reset_index(inplace=True)
    return df

In [40]:
df = pd.DataFrame()
count = 0
for i in range(len(files)):
    file = files[i]
    if ".ulg" not in file:
        continue
    count+=1
    time = file.split(".")[0]
    # stream = os.popen('ulog2csv '+ file)
    # output = stream.read()
    df2 = load_df_from_episode(count, time)
    df = pd.concat([df, df2], ignore_index=True)
    print(count)

df["Timestep"] = df.index
df.reset_index(inplace=True)

df.head()

control_df = df.loc[:, ["Timestep", "ControlErr", "run"]]


for i in control_df.run.unique():
    control_df.loc[control_df.run == i, "Timestep"] -= control_df.loc[control_df.run == i, "Timestep"].min()

control_df.Timestep += 1


control_df = control_df[(control_df.Timestep < 1000)]

control_df["Reward"] = control_df["ControlErr"] * -0.002
# control_df = control_df.groupby(by="Timestep").mean().drop(columns="run")
# sns.lineplot(data=control_df, y="Reward", x="Timestep")


control_df["Type"] = "SD"
control_df.to_csv("control_df_gazebo.csv", index=False)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [41]:
# rewards = distance_df["Reward"] + rpy_df["Reward"] + velocity_df["Reward"] + angular_df["Reward"] + control_df["Reward"] + 0.1

In [42]:
# sns.lineplot(data=rewards)

In [43]:
# rewards = pd.DataFrame({"Timestep":rewards.index,"Reward":rewards})

In [44]:
# rewards["Type"] = "SD"

In [45]:
# rewards.tail()

In [46]:
# rewards.to_csv("rewards_gazebo.csv", index=False)